apiVersion: apps/v1
kind: Deployment
metadata:
  name: vote-web
  labels: { app: vote-web }
spec:
  replicas: 1
  selector:
    matchLabels: { app: vote-web }
  template:
    metadata:
      labels: { app: vote-web }
    spec:
      containers:
      - name: web
        image: 
        ports:
        - containerPort: 80
        # Probes
        startupProbe:
          httpGet:
            path: /
            port: 80
          failureThreshold: 30
          periodSeconds: 2
        readinessProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 5
          periodSeconds: 10
          timeoutSeconds: 2
          failureThreshold: 3
          successThreshold: 1
        livenessProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 10
          periodSeconds: 10
          timeoutSeconds: 2
          failureThreshold: 3
